<div class="header">
    <a href="#header">
        <img class="logo-header" src="../../assets/img/Logo transparente Carol.png" alt="Logo">
    </a>
    <a href="#sobre">
        <h1>SOBRE</h1>
    </a>
    <a href="#servicos">
        <h1>SERVIÇOS</h1>
    </a>
    <a href="https://wa.me/+5512991031688">
        <img class="contato" src="../../assets/img/whats branco 2.png" alt="Whatsapp">
    </a>
    <a href="https://www.instagram.com/carol_barbeira/">
        <img class="contato" src="../../assets/img/insta branco 3.png" alt="Instagram">
    </a>
</div>