.header {
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.logo-header {

    width: 35px;
}

h1 {
    font-size: 17px;
    color: white;
    margin: 0;
    transition: 0.5s;
}

.contato {
    height: 30px;
    width: 30px;
}

a {
    height: 30px;
}

a:link,
a:visited {
    text-decoration: none
}

h1:hover {
    color: #AE7445;
}

a:active {
    text-decoration: none
}

@media(max-width:600px) {
    a {
        height: 25px;
    }

    .hamburger {
        height: 24px;
    }

    .menu-content {
        display: none;
    }

    .contato,
    .menu-icon {
        width: 25px;
        height: 25px;
    }

    .header {
        height: 50px;
    }
}

.logo-header {
    width: 25px;
    height: 25px;
}


@media(min-width:600px) {
    .hamburger {
        display: none;
    }
}

.hamburger {
    border: none;
    background: transparent;
}