.header {
    background-color: black;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.logo-header {
    width: 55.61px;
    height: 60px;
}

h1 {
    font-size: 20px;
    color: white;
    margin: 0;
    font-family: Adam Script;
    font-weight: 400;
}

.contato {
    height: 40px;
    width: 40px;
}