.footer {
    background-color: #0E0E12;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.logo-img {
    width: 120px;
}

.whats {
padding-right: 20px;
width: 60px;
}

.insta {
    padding-left:20px ;
    width: 60px;
}