.footer {
    background-color: #0E0E12;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-evenly;
}

p {
    font-size: 40px
}

.logo-img {
    width: 120px;
}

a:link,
a:visited {
    text-decoration: none
}

h1:hover {
    color: #AE7445;
}

a:active {
    text-decoration: none
}