<div class="footer">
    <div class="logo">
        <img class="logo-img" src="../../assets/img/Logo transparente Carol.png" alt="Logo">
    </div>
    <div class="endereco">
        <p>ENDEREÇO</p>
    </div>
    <div class="link">
        <p>HOME</p>
        <p>SOBRE</p>
        <p>SERVIÇOS</p>
        <p>CONTATO</p>
    </div>
    <div class="contatos">
        <img class="whats" src="../../assets/img/whats branco 2.png" alt="Whatsapp">
        <img class="insta" src="../../assets/img/insta branco 3.png" alt="Instagram">
    </div>
</div>