.footer {
    background-color: #0E0E12;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-evenly;
}

p {
    font-size: 20px;
    margin: 0;
}

.logo-img {
    width: 40px;
}

a:link,
a:visited {
    text-decoration: none
}

h1:hover {
    color: #AE7445;
}

a:active {
    text-decoration: none
}


// MOBILE VERSION

@media(max-width:600px) {
    .logo-img {
        width: 40px;
    }

    p {
        font-size: 20px
    }

    .footer {
        padding: 10px 0;
    }
}