<div class="main" id="header">
    <img class="capa" src="../../assets/img/capa.png" alt="Capa">
    <h2 id="sobre">SOBRE</h2>
    <div class="sobre">
        <img class="foto-carol" src="../../assets/img/Foto carol.png" alt="Foto">
        <div class="quem-sou">
            <h1 class="title">QUEM SOU?</h1>
            <p>Ofereço cortes de cabelo e barba precisos e personalizados em um ambiente acolhedor. Minhas habilidades
                técnicas garantem resultados impecáveis, enquanto meu foco na comunicação me permite entender as
                preferências individuais de cada cliente.</p>
        </div>
        <img class="foto-carol-2" src="../../assets/img/Foto corte desenhado.png" alt="">
    </div>
    <div class="servicos" id="servicos">
        <h2>SERVIÇOS</h2>
    </div>
    <div class="swiper">
        <swiper-container [slidesPerView]="slidesPerView" loop="true" navigations="true" pagination="true">
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/low fade.png" alt="LowFade"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/mid fade.png" alt="MidFade"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/high fade.png" alt="HighFade"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/taper fade.png" alt="TaperFade"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/mullet.png" alt="mullet"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/barba completa.png" alt="Barba"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/cavanhaque.png" alt="Cavanhaque"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/bigode.png" alt="Bigode"></swiper-slide>
            <swiper-slide>
                <img class="carousel-img" src="../../assets/img/sobrancelha.png" alt="Sobrancelha"></swiper-slide>
        </swiper-container>
    </div>
</div>