@font-face {
    font-family: 'Adam Script';
    src: local('RTL Adam Script Regular'), local('RTL-Adam-Script-Regular'),
        url('RTL-AdamScript-Regular.woff2') format('woff2'),
        url('RTL-AdamScript-Regular.woff') format('woff'),
        url('RTL-AdamScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.main {
    background-color: #292929;
}

.capa {
    width: 100%;
}

h2 {
    padding: 80px 0;
    text-align: center;
    color: white;
    font-family: Adam Script;
}

.sobre {
    height: 500px;
    display: flex;
    padding: 0 100px;
    
}

.quem-sou {
    background-image:url(../../assets/img/pngwing\ 1.png);
    background-repeat: no-repeat;
    background-size: 325px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    background-color: #120E0E;
}

p {
    padding: 0 50px;
}

.foto-carol {
    width: 500px;
    height: 500px;

}

.swiper {
    text-align-last: center;
    margin: 0 150px;
}

.carousel-img {
    width: 300px;
    height: 400px;
}

